flows/03.vtjbot.conversa.json
[
    {
        "id": "576c643f.9a7c1c",
        "type": "tab",
        "label": "Conversa",
        "disabled": false,
        "info": ""
    },
    {
        "id": "38486d1e.d8ce32",
        "type": "vtjbot-converse",
        "z": "576c643f.9a7c1c",
        "botId": "ab0a6525.660408",
        "name": "",
        "x": 540,
        "y": 280,
        "wires": [
            [
                "a4e81b41.689498",
                "221719e3.4c7846"
            ]
        ]
    },
    {
        "id": "4e13db2d.9ff3e4",
        "type": "debug",
        "z": "576c643f.9a7c1c",
        "name": "dialogo",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 840,
        "y": 340,
        "wires": []
    },
    {
        "id": "8e6b3df0.d2f6b",
        "type": "vtjbot-listen",
        "z": "576c643f.9a7c1c",
        "botId": "ab0a6525.660408",
        "name": "",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "38486d1e.d8ce32",
                "9afca2b5.6d4c4",
                "53a7d849.3015a8"
            ]
        ]
    },
    {
        "id": "9afca2b5.6d4c4",
        "type": "debug",
        "z": "576c643f.9a7c1c",
        "name": "reconocido",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "ed1a9ff3.2cfb1",
        "type": "inject",
        "z": "576c643f.9a7c1c",
        "name": "",
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "77c82cb0.1b1694"
            ]
        ]
    },
    {
        "id": "53a7d849.3015a8",
        "type": "function",
        "z": "576c643f.9a7c1c",
        "name": "pausa",
        "func": "msg.reset = 1;\nmsg.mode = \"pause\";\nmsg.color = \"Black\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 360,
        "wires": [
            [
                "8e6b3df0.d2f6b",
                "5626277b.4796c8",
                "bff8f494.7c20f8"
            ]
        ]
    },
    {
        "id": "73a68b9a.c38044",
        "type": "function",
        "z": "576c643f.9a7c1c",
        "name": "sigue",
        "func": "// if( msg.response.object.intents[0].intent == \"Adios\") {\n// if( msg.response.object.output.nodes_visited[0] == \"Bienvenido\") {\n// var nodos = ['adios', 'restart'];\nif( msg.response.object.context.nodo == \"bienvenido\") {\n    msg.mode = \"start\"; \n    msg.motion = \"\";\n    msg.color = \"Red\";\n} \n//else if( msg.response.object.output.nodes_visited[0] == \"Adios\") {\n//else if( msg.response.object.context.nodo == \"adios\") {\n// else if( nodos.indexOf(msg.response.object.context.nodo) !== -1 || typeof(msg.response.object.context.nodo) == 'undefined') {\nelse if( msg.response.object.context.nodo == \"adios\" || typeof(msg.response.object.context.nodo) == 'undefined') {\n    msg.mode = \"stop\";\n    msg.motion = \"wave\";\n    msg.color = \"Black\";\n}\nelse {\n    msg.mode = \"resume\";\n    msg.motion = \"\";\n    msg.color = \"Red\";\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1090,
        "y": 280,
        "wires": [
            [
                "ab757335.7f9be",
                "d230dbc4.bd8d08",
                "b6dc312b.982b5"
            ]
        ]
    },
    {
        "id": "77c82cb0.1b1694",
        "type": "change",
        "z": "576c643f.9a7c1c",
        "name": "mode stop",
        "rules": [
            {
                "t": "set",
                "p": "mode",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "8e6b3df0.d2f6b"
            ]
        ]
    },
    {
        "id": "a4e81b41.689498",
        "type": "debug",
        "z": "576c643f.9a7c1c",
        "name": "conversa",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 800,
        "y": 400,
        "wires": []
    },
    {
        "id": "221719e3.4c7846",
        "type": "function",
        "z": "576c643f.9a7c1c",
        "name": "une respuestas",
        "func": "msg.payload = msg.response.object.output.text.join(\" \");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 280,
        "wires": [
            [
                "4e13db2d.9ff3e4",
                "8fd72e12.c1085"
            ]
        ]
    },
    {
        "id": "8fd72e12.c1085",
        "type": "vtjbot-speak",
        "z": "576c643f.9a7c1c",
        "botId": "ab0a6525.660408",
        "mode": "speak",
        "payload": "",
        "name": "",
        "x": 950,
        "y": 280,
        "wires": [
            [
                "ee6d8a7c.56bd78",
                "73a68b9a.c38044"
            ]
        ]
    },
    {
        "id": "41f0c2bc.0a94ec",
        "type": "inject",
        "z": "576c643f.9a7c1c",
        "name": "Inicio",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "20",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "fbd22778.82e668"
            ]
        ]
    },
    {
        "id": "ab757335.7f9be",
        "type": "link out",
        "z": "576c643f.9a7c1c",
        "name": "escucha",
        "links": [
            "d54a7128.8016d"
        ],
        "x": 1215,
        "y": 280,
        "wires": []
    },
    {
        "id": "d54a7128.8016d",
        "type": "link in",
        "z": "576c643f.9a7c1c",
        "name": "start",
        "links": [
            "ab757335.7f9be"
        ],
        "x": 155,
        "y": 320,
        "wires": [
            [
                "8e6b3df0.d2f6b",
                "8223baf1.687028",
                "bff8f494.7c20f8"
            ]
        ]
    },
    {
        "id": "ee6d8a7c.56bd78",
        "type": "debug",
        "z": "576c643f.9a7c1c",
        "name": "respuesta",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1020,
        "y": 340,
        "wires": []
    },
    {
        "id": "5626277b.4796c8",
        "type": "trigger",
        "z": "576c643f.9a7c1c",
        "op1": "",
        "op2": "true",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "10",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 270,
        "y": 520,
        "wires": [
            [
                "d5a22de8.59302",
                "53a7d849.3015a8"
            ]
        ]
    },
    {
        "id": "7c76b388.fe0ebc",
        "type": "comment",
        "z": "576c643f.9a7c1c",
        "name": "si no reconoce nada en unos segundos, envía \"adios\"",
        "info": "",
        "x": 440,
        "y": 560,
        "wires": []
    },
    {
        "id": "2ff4a3f5.8cd6dc",
        "type": "debug",
        "z": "576c643f.9a7c1c",
        "name": "trigger",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 650,
        "y": 520,
        "wires": []
    },
    {
        "id": "d5a22de8.59302",
        "type": "function",
        "z": "576c643f.9a7c1c",
        "name": "envia adios",
        "func": "var newmsg = {};\nmsg = newmsg;\nmsg.payload = \"adios\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 520,
        "wires": [
            [
                "2ff4a3f5.8cd6dc",
                "38486d1e.d8ce32"
            ]
        ]
    },
    {
        "id": "8223baf1.687028",
        "type": "switch",
        "z": "576c643f.9a7c1c",
        "name": "activa trigger",
        "property": "mode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resume",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 420,
        "wires": [
            [
                "5626277b.4796c8"
            ],
            [
                "5626277b.4796c8"
            ]
        ]
    },
    {
        "id": "fb6c5559.e066e8",
        "type": "comment",
        "z": "576c643f.9a7c1c",
        "name": "si se reconoce adios, saluda y termina",
        "info": "",
        "x": 1070,
        "y": 500,
        "wires": []
    },
    {
        "id": "9d3a75c9.4e1378",
        "type": "comment",
        "z": "576c643f.9a7c1c",
        "name": "si hay varias respuestas, las une",
        "info": "",
        "x": 710,
        "y": 240,
        "wires": []
    },
    {
        "id": "27aa8d3.1340c72",
        "type": "comment",
        "z": "576c643f.9a7c1c",
        "name": "parada manual",
        "info": "",
        "x": 180,
        "y": 140,
        "wires": []
    },
    {
        "id": "c807afec.06b8c",
        "type": "comment",
        "z": "576c643f.9a7c1c",
        "name": "Inicio",
        "info": "",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "71c6c32f.e0b40c",
        "type": "vtjbot-shine",
        "z": "576c643f.9a7c1c",
        "botId": "ab0a6525.660408",
        "mode": "shine",
        "color": "msg.color",
        "duration": "2",
        "name": "Color",
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "84204197.b326",
        "type": "vtjbot-wave",
        "z": "576c643f.9a7c1c",
        "botId": "ab0a6525.660408",
        "motion": "msg.motion",
        "name": "Mover el brazo",
        "x": 1120,
        "y": 600,
        "wires": []
    },
    {
        "id": "bff8f494.7c20f8",
        "type": "function",
        "z": "576c643f.9a7c1c",
        "name": "color",
        "func": "var str1 =msg.color;\nvar newmsg = {};\nmsg = newmsg;\nmsg.color = str1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 480,
        "wires": [
            [
                "71c6c32f.e0b40c"
            ]
        ]
    },
    {
        "id": "fbd22778.82e668",
        "type": "function",
        "z": "576c643f.9a7c1c",
        "name": "inicializamos",
        "func": "msg.payload  = '';\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 80,
        "wires": [
            [
                "38486d1e.d8ce32"
            ]
        ]
    },
    {
        "id": "d230dbc4.bd8d08",
        "type": "debug",
        "z": "576c643f.9a7c1c",
        "name": "sigue",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1190,
        "y": 200,
        "wires": []
    },
    {
        "id": "b4eeed71.5a2eb",
        "type": "debug",
        "z": "576c643f.9a7c1c",
        "name": "Adios",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1090,
        "y": 540,
        "wires": []
    },
    {
        "id": "b6dc312b.982b5",
        "type": "switch",
        "z": "576c643f.9a7c1c",
        "name": "",
        "property": "mode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "stop",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 540,
        "wires": [
            [
                "b4eeed71.5a2eb",
                "84204197.b326"
            ]
        ]
    },
    {
        "id": "ab0a6525.660408",
        "type": "vtjbot-config",
        "z": "",
        "botGender": "female",
        "name": "TJBotC",
        "listen": "es-ES",
        "speak": "es-ES",
        "hasServo": true,
        "hasLED": true,
        "hasSpeaker": true,
        "hasMicrophone": true,
        "hasCamera": true,
        "aUrl": "https://gateway-lon.watsonplatform.net/assistant/api",
        "taUrl": "https://gateway-lon.watsonplatform.net/tone-analyzer/api",
        "ltUrl": "https://gateway-lon.watsonplatform.net/language-translator/api",
        "sttUrl": "https://gateway-lon.watsonplatform.net/speech-to-text/api",
        "ttsUrl": "https://gateway-lon.watsonplatform.net/text-to-speech/api",
        "vrUrl": "https://gateway.watsonplatform.net/visual-recognition/api"
    }
]